
@{
    ViewBag.Title = "Registered";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Registered!!! Please click @Html.ActionLink("HERE", "Index", "Main") to go back to the home page.</h2>

