@{ 
    ViewBag.Title = "ECTemplate: Order Submitted";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<h2>Thanks!</h2>
Thanks for placing your order. We'll ship your goods as soon as possible and you will recevie a confirmation email shortly.